<div class='row'>
  <div class='col'>
    <nav class='navbar navbar-expand-md justify-content-center navbar-custom'>
      <a class="navbar-brand" [routerLink]="'/'+section+'/home'" href="#">CHRISTOPHER BOYD</a>
      <ul class='navbar-nav'>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CHOOSE PORTFOLIO CATEGORY
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink='/software/tech'>Software</a>
            <a class="dropdown-item" routerLink='/illustration/gallery'>Illustration</a>
          </div>
        </li>

        <li class='nav-item' id='home-btn'>
          <a class='nav-link' [routerLink]="'/'+section+'/home'">HOME</a>
        </li>

        <li id='illustration-nav'>
          <ul class='navbar-nav'>

          <li class='nav-item'>
            <a class='nav-link' [routerLink]="'/'+section+'/gallery'">GALLERY</a>
          </li>

          <li class='nav-item'>
            <a class='nav-link' [routerLink]="'/'+section+'/comics'">COMICS</a>
          </li>

          <li class='nav-item'>
            <a class='nav-link' [routerLink]="'/'+section+'/commissions'">COMMISSIONS</a>
          </li>
        </ul>
        </li>

      <li id='software-nav'>
        <ul class='navbar-nav'>

        <li class='nav-item'>
          <a class='nav-link' [routerLink]="'/'+section+'/tech'">TECH SKILLS</a>
        </li>

        <li class='nav-item'>
          <a class='nav-link' [routerLink]="'/'+section+'/soft'">SOFT SKILLS</a>
        </li>

        <li class='nav-item'>
          <a class='nav-link' [routerLink]="'/'+section+'/projects'">PROJECTS</a>
        </li>
      </ul>
      </li>

      <li class='nav-item' id='contact-btn'>
        <a class='nav-link' [routerLink]="'/'+section+'/contact'">CONTACT</a>
      </li>

      </ul>

    </nav>
  </div>
</div>